
  <!-- <body> -->
    
    <main class="mainListado">
      <div class="titleButton">
        <div class="contTitle">
          <h3 class="titlePrincipalList">Listado de Productos</h3>
        </div>
        
        <div class="btnAddCont ">
        <a class="btnAdd" href="/admin/add"><button class="btn btnAddProd">Agregar</button></a
        >
        </div>
      </div>

      
      <div class="containerList">
        <section class="tama">
          <ul class="title">
            <li class="lista">
              <p class="id claro pe">id</p>
              <p class="name normal pe">nombre del producto</p>
              <p class="price claro pe">precio</p>
              <p class="category normal pe">categoria</p>
              <p class="shape claro pe">forma</p>
              <p class="brand normal pe">marca</p>
              <p class="material claro pe">material</p>
              <p class="height normal pe">alto</p>
              <p class="width claro pe">ancho</p>
              <p class="discount normal pe">descuento</p>
              <i class="far fa-edit fuera fSize"></i>
              <button class="fuera boton" type="button">
                <i class="far fa-trash-alt"></i>
              </button>
            </li>
          </ul>
          <!--  -->
          <!--  -->
          <ul class="list">
            <% products.forEach(item => { %>
            <li class="lista">
              <p class="id pe"><%- item.id %></p>
              <p class="name pe"><%- item.name %></p>
              <p class="price pe"><%- item.price %></p>
              <% /* let category = category.find(cate => cate.id ===
              item.category) */ %>
              <p class="category pe"><%- item.categoryId %></p>
              <% /* let forma = formas.find(forma => forma.id ===
              item.subCatForma) */ %>
              <p class="shape pe"><%- item.shapeId %></p>
              <% /* let marca = marcas.find(marca => marca.id ===
              item.subCatMarca) */ %>
              <p class="brand pe"><%- item.brandId %></p>
              <% /* let material = materials.find(material => material.id ===
              item.subCatmaterial) */ %>
              <p class="material pe"><%- item.materialId %></p>
              <p class="height pe"><%- item.height %></p>
              <p class="width pe"><%- item.width %></p>
              <p class="discount pe"><%- item.discount %></p>

              <a href="/admin/edit/<%- item.id%>"
                ><i class="far fa-edit fSize"></i
              ></a>

              <form class="form" 
                action="/admin/eliminarProducto/<%= item.id %>?_method=DELETE"
                method="POST"
              >
                <div class="delModal" id="tvesModalDel">
                  <div class="aModalContainer">
                    <p class="titleModal">
                       
                    </p>
                    <div class="btn btnEliminarProd">Eliminar</div>
                  </div>
                </div>
              </form>
              <button class="btnDelProd boton" type="button"  >
                <img src="/image/trash.svg" class="btnDelProd imgTrash" id="<%=item.name%>"></img>
                
              </button>
            </li>
            <% }) %>
          </ul>
        </section>
      </div>
    </main>
    <script>
      let $form = document.querySelectorAll(".form");
      let $buttonDel = document.querySelectorAll(".btnDelProd");
      let $delDef = document.querySelector(".btnEliminarProd");
      let $buttonDelResult = [].slice.call($buttonDel);
  
      $buttonDelResult.forEach(el => {
  el.addEventListener("click", e => {
    const name = e.target.getAttribute("id");
    console.log("Se ha clickeado el id " + name);
    let body = document.getElementsByTagName("body")[0];
        let $titleModal = document.querySelector(".titleModal");
        $titleModal.innerHTML= `¿Seguro quiere eliminar el artículo ${name} ?`  
        let modalWindow = document.getElementById("tvesModalDel");
        modalWindow.style.opacity = "1";
        modalWindow.style.visibility = "visible";
        modalWindow.style.transform = "translateY(22%)";
        modalWindow.style.transitionDelay = "0.2s";
        modalWindow.style.transition =
          "all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15)";
        body.style.position = "static";
        body.style.height = "100%";
        body.style.overflow = "hidden";
        window.onclick = function (event) {
          if (event.target == modalWindow) {
            modalWindow.style.opacity = "";
            modalWindow.style.visibility = "hidden";
            modalWindow.style.transform = "translateY(0)";
            body.style.position = "inherit";
            body.style.height = "auto";
            body.style.overflow = "visible";
          }
        };
  });
});


      /* $buttonDel.addEventListener("click", function () {
        let body = document.getElementsByTagName("body")[0];
        let $titleModal = document.querySelector(".titleModal");
        let modalWindow = document.getElementById("tvesModalDel");
        modalWindow.style.opacity = "1";
        modalWindow.style.visibility = "visible";
        modalWindow.style.transform = "translateY(22%)";
        modalWindow.style.transitionDelay = "0.2s";
        modalWindow.style.transition =
          "all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15)";
        body.style.position = "static";
        body.style.height = "100%";
        body.style.overflow = "hidden";
        window.onclick = function (event) {
          if (event.target == modalWindow) {
            modalWindow.style.opacity = "";
            modalWindow.style.visibility = "hidden";
            modalWindow.style.transform = "translateY(0)";
            body.style.position = "inherit";
            body.style.height = "auto";
            body.style.overflow = "visible";
          }
        };
      }); */
      $delDef.addEventListener("click", function () {
        $form.submit();
      });
    </script>
  <!-- </body> -->

