<section class="external-container" id="externalContainer" >
    <% arrayProduct.forEach(item => {%> 
    <a class="product-card" href="/product/detail/<%- item.id %>  ">
            <div class="images" id=twist >
                <img class="frontal" src="/image/productImages/<%- item.image[1]? item.image[1] : "logFI.jpg" %> "  alt="">
                <img class="rear" id="gira" src="/image/productImages/<%- item.image[0]? item.image[0] : "logFN.jpg" %>  "  alt="">
            </div>
        <div class="product-name">
            <p class="pes"><%- item.name %>  </p>
            <div class="price" id="dollar">                
                <i id="dollar" class="fas fa-dollar-sign"></i>
                <p class="pes"><%- item.price %>  .-</p>
            </div>
        </div>
    </a> 
    <% })  %> 
    <hr class="hr-mobile">         

    
            
</section>  