<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body>

  <%- include('./partials/headerAdmin.ejs') %> 

  <section class="wb">
    <h5 class="editSubtitles">Agregá un producto nuevo:</h5>
    <form class="tamanioFondo" action="/admin/add/" method="POST" enctype="multipart/form-data">
              <label class="tamanio" for="name">Nombre del producto: </label>
               <input class="tamanio" type="text" name="name" id="name">
              <label class="tamanio" for="price">Precio: </label>
               <input class="tamanio" type="number" name="price" id="price">
              <label class="tamanio" for="discount">Descuento: </label>
               <input class="tamanio" type="number" name="discount" id="discount">
              <label class="tamanio" for="category">Categoria: </label>
              <select id="specificSizeSelect" name="category"  class="tamanio">
               <% categoria.forEach(category => { %>
                  <option value="<%= category.name %>"><%- category.name %></option>
               <% }) %>
              </select>
              <label class="tamanio" for="forma">Forma: </label>
              <select id="specificSizeSelect" name="subCatForma"  class="tamanio">
              <% formas.forEach(forma => { %>
                
                <option value="<%= +forma.id %>"><%- forma.shape %></option>
             <% }) %>
            </select>
              <label class="tamanio" for="marca">Marca: </label>
              <select id="specificSizeSelect" name="subCatMarca"  class="tamanio">
                <% marcas.forEach(marca => { %>
                   <option value="<%= +marca.id %>"><%- marca.brand %></option>
                <% }) %>
               </select>
              <label class="tamanio" for="material">Material: </label>
              <select id="specificSizeSelect" name="subCatmaterial"  class="tamanio">
                <% materials.forEach(material => { %>
                  <option value="<%= +material.id %>"><%- material.mater %></option>
               <% }) %>
              </select>
              <label class="tamanio" for="heigth">Altura: </label>
               <input class="tamanio" type="number" name="height" id="heigth">
              <label class="tamanio" for="width">Ancho: </label>
               <input class="tamanio" type="number" name="width" id="width">
       
            <div class="inputFile">           
              <label class="label" for="archivos">Subí fotos del producto:</label><br>
              <input class="archivos" type="file" name="archivos"  multiple>
            </div>
            <div class="buttons">
              <button class="btn" type="submit">Aceptar</button>
              <button class="btn" type="reset">Cancelar</button>

            </div>
      </form> 
  </section>

      
         
</body>
</html>