<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body>

  <%- include('./partials/headerAdmin.ejs') %> 

  <section class="wb">
    <h5 class="editSubtitles">Agregá un producto nuevo:</h5>
    <form class="tamanioFondo" action="/admin/add/" method="POST" enctype="multipart/form-data">
              <label class="tamanio" for="name">Nombre del producto: </label>
               <input  class="tamanio clean" type="text" name="name" id="name">
               <% if (locals.errors && errors.name) { %>
                <script>
                let name = document.getElementsByName('name');
                name[0].placeholder= "<%= errors.name.msg %>";
                </script>
            <% } %>
              <label class="tamanio" for="price">Precio: </label>
               <input  class="tamanio clean" type="number" name="price" id="price">
               <% if (locals.errors && errors.price) { %>
                <script>
                let price = document.getElementsByName('price');
                price[0].placeholder= "<%= errors.price.msg %>";
                </script>
            <% } %>
              <label class="tamanio" for="discount">Descuento: </label>
               <input  class="tamanio clean" type="number" name="discount" id="discount">
               <% if (locals.errors && errors.discount) { %>
                <script>
                let discount = document.getElementsByName('discount');
                discount[0].placeholder= "<%= errors.discount.msg %>";
                </script>
            <% } %>
              <label class="tamanio" for="category">Categoria: </label>
              <select id="specificSizeSelect" name="categoryId"  class="tamanio">
               <% categories.forEach(category => { %>
                  <option value="<%= +category.id %>"><%- category.name %></option>
               <% }) %>
              </select>
              <label class="tamanio" for="forma">Forma: </label>
              <select id="specificSizeSelect" name="shapeId"  class="tamanio">
              <% locals.shapes.forEach(shape => { %>
                
                <option value="<%= +shape.id %>"><%- shape.name %></option>
             <% }) %>
            </select>
              <label class="tamanio" for="marca">Marca: </label>
              <select id="specificSizeSelect" name="brandId"  class="tamanio">
                <% locals.brands.forEach(brand => { %>
                   <option value="<%= +brand.id %>"><%- brand.name %></option>
                <% }) %>
               </select>
              <label class="tamanio" for="material">Material: </label>
              <select id="specificSizeSelect" name="materialId"  class="tamanio">
                <% locals.materials.forEach(material => { %>
                  <option value="<%= +material.id %>"><%- material.name %></option>
               <% }) %>
              </select>
              <label class="tamanio" for="heigth">Altura: </label>
               <input  class="tamanio clean" type="number" name="height" id="height">
               <% if (locals.errors && errors.height) { %>
                <script>
                let height = document.getElementsByName('height');
                height[0].placeholder= "<%= errors.height.msg %>";
                </script>
            <% } %>
              <label class="tamanio" for="width">Ancho: </label>
               <input  class="tamanio clean" type="number" name="width" id="width">
               <% if (locals.errors && errors.width) { %>
                <script>
                let width = document.getElementsByName('width');
                width[0].placeholder= "<%= errors.width.msg %>";
                </script>
            <% } %>
            <div class="inputFile">           
              <label class="label" for="archivos">Subí fotos del producto:</label><br>
              <input class="archivos" type="file" name="archivos"  multiple>
            </div>
            <div class="buttons">
              <button class="btn" type="submit">Aceptar</button>
              <button class="btn" type="reset">Limpiar</button>

            </div>
      </form> 
  </section>

      
  <script>
    document.getElementById("name").onclick = function() {let clean = document.getElementsByName("name");  clean[0].placeholder= "";}  
    document.getElementById("price").onclick = function() {let clean = document.getElementsByName("price");  clean[0].placeholder= "";}  
    document.getElementById("discount").onclick = function() {let clean = document.getElementsByName("discount");  clean[0].placeholder= "";}  
    document.getElementById("height").onclick = function() {let clean = document.getElementsByName("height");  clean[0].placeholder= "";}  
    document.getElementById("width").onclick = function() {let clean = document.getElementsByName("width");  clean[0].placeholder= "";}
  </script>    
</body>
</html>