
    <!DOCTYPE html>
    <html lang="es">
    <!-- head -->
    <%- include("partials/head")  %> 
    <!-- fin head-->
    <!-- <script src='/js/confirmDelete.js' defer></script> -->
<body>
    <%- include('./partials/headerAdmin.ejs') %>
    <main class="mainListado">
        <div class="titleButton">
          <div class="contTitle">
            <h3 class="titlePrincipalList">Listado de Productos</h3>
          </div>
          
          <div class="btnAddCont ">
          <a class="btnAdd" href="/admin/add"><button class="btn btnAddProd">Agregar</button></a
          >
          </div>
        </div>
  
        <div class="containerList">
            
            <section class="tama">
                <ul class="title">
                    <li class="lista">
                        <p class="id claro pe">id</p>
                        <p class="name normal pe">nombre del producto</p>
                        <p class="price claro pe">precio</p>
                        <p class="category normal pe">categoria</p>
                        <p class="shape claro pe">forma</p>
                        <p class="brand normal pe">marca</p>
                        <p class="material claro pe">material</p>
                        <p class="height normal pe">alto</p>
                        <p class="width claro pe">ancho</p>
                        <p class="discount normal pe">descuento</p>
                        <div class="emptySpace"></div>
                        <!-- <i class="far fa-edit fuera fSize"></i>
                        <button class="fuera boton caca" type="submit"><i class="far fa-trash-alt"></i></button> -->
                    </li>
                </ul><!--  -->
                <!--  -->
                <ul class="list">
                    <% products.forEach(item => { %> 
                    <li class="lista">
                      <!-- <div class="contP"> --><p class="id pe"><%- item.id %></p><!-- </div> -->
                      <!-- <div class="contP"> --><p class="name pe"><%- item.name %></p><!-- </div> -->
                      <!-- <div class="contP"> --><p class="price pe"><%- item.price %></p><!-- </div> -->
                      <!-- <div class="contP"> --><p class="category pe"><%- item.category.name %></p><!-- </div> -->
                      <!-- <div class="contP"> --><p class="shape pe"><%- item.shape.name %></p><!-- </div> -->
                      <!-- <div class="contP"> --><p class="brand pe"><%- item.brand.name %></p><!-- </div> -->
                      <!-- <div class="contP"> --><p class="material pe"><%- item.material.name %></p><!-- </div> -->
                      <!-- <div class="contP"> --><p class="height pe"><%- item.height %></p><!-- </div> -->
                      <!-- <div class="contP"> --><p class="width pe"><%- item.width %></p><!-- </div> -->
                      <!-- <div class="contP"> --><p class="discount pe"><%- item.discount %></p><!-- </div> -->


                        <div class="buttonEdit">
                          <a class="pe2" href="/admin/edit/<%- item.id%>"><img class="pe editIcon" src="/image/edit.svg" alt=""></i></a>
                        </div>
                        <form class="formDel"  >
                            <!-- ############## -->
                            <div class="aModal" id="tvesModalDel">
                              <label class="closeX">x</label>
                                <!-- <div class="aModalContainer"> -->
                                  <div class="bacg">
                                    <div class="aHeaderModal">
                                      <p class="titleHeaderModal">GemmaGlass</p>
                                    </div>
                                    <p class="titleModal">
                                      
                                    </p>
                                    <div class="btn btnEliminarProd">Eliminar</div>
                                  </div> 
                                <!-- </div> -->
                              </div>
                            <!-- ############## -->
                            <!-- <button  class ="boton" type="submit"> -->
                              <div class="buttonDelete">
                                <img src="/image/trash.svg" class="btnDelProd imgTrash namePro pe1" id="<%= item.id %>" alt="<%=item.name%>">
                              </div>  
                            <!-- </button> -->
                        
                        </form>

                    
                    </li>
                    <% }) %>
                </ul>
                
            </section>
        </div>
       
          
      </main>
      
      <script>
        let $form2 = document.querySelector(".formDel");
        let $closeX = document.querySelector(".closeX");
        let $buttonDel1 = document.querySelectorAll(".btnDelProd");
        let $delDef1 = document.querySelector(".btnEliminarProd");
        let $buttonDelResult1 = [].slice.call($buttonDel1);
        let body = document.getElementsByTagName("body")[0];
        let $titleModal = document.querySelector(".titleModal");
        let modalWindow = document.getElementById("tvesModalDel");
        $closeX.addEventListener("click", function(){
          
              modalWindow.style.opacity = "";
              modalWindow.style.visibility = "hidden";
              modalWindow.style.transform = "translateY(0)";
              body.style.position = "inherit";
              body.style.height = "auto";
              body.style.overflow = "visible";
        })
        
        $buttonDelResult1.forEach(el => {
          
    el.addEventListener("click", e => {
      const name = e.target.getAttribute("alt");
      const id = e.target.getAttribute("id");
      sessionStorage.setItem("id", id);
      console.log("Se ha clickeado el id " +id + " de nombre " + name);
          
          $titleModal.innerHTML= `¿Seguro quiere eliminar el artículo ${name} ?`  
          
          modalWindow.style.opacity = "1";
          modalWindow.style.visibility = "visible";
          modalWindow.style.transform = "translateY(22%)";
          modalWindow.style.transitionDelay = "0.2s";
          modalWindow.style.transition ="all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15)";
          body.style.position = "static";
          body.style.height = "100%";
          body.style.overflow = "hidden";
          window.onclick = function (event) {
            if (event.target == modalWindow) {
              modalWindow.style.opacity = "";
              modalWindow.style.visibility = "hidden";
              modalWindow.style.transform = "translateY(0)";
              body.style.position = "inherit";
              body.style.height = "auto";
              body.style.overflow = "visible";
            }
          };
    });
  });
        $delDef1.addEventListener("click", function () {
            const mId = sessionStorage.getItem("id");
            
            /* ################ */
            fetch(`http://localhost:3005/apis/products/${mId}`,{
           method:"DELETE"
      })
          .then((response) => response.json())
          .then((result)=>{
            if (result){
              modalWindow.style.opacity = "";
              modalWindow.style.visibility = "hidden";
              modalWindow.style.transform = "translateY(0)";
              body.style.position = "inherit";
              body.style.height = "auto";
              body.style.overflow = "visible";
              window.location.reload()
            }else{
              alert("no del")
            }
            /* ################ */
        }) })
      </script>
    
    
    
    
    
</body>
</html>