<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body>
<!-- header -->

<%- include("partials/header")  %> 
<!-- fin header  -->

    
<section class="body-detalle">

        <!-- slider para descktop -->

        <section class="arriba">
            <div class="containerExt">
                <div class="title">
                    <span ><%- product.name %>  </span>
                </div>
                <div class="images">
                    <div class="image" >
                      <img src="/image/<%- product.image[0] %>" alt=""  onclick="cambiar(this);">
                    </div>
                    <div class="image">
                      <img src="/image/<%- product.image[1] %>" alt=""  onclick="cambiar(this);">
                    </div>
                    <div class="image">
                      <img src="/image/<%- product.image[2] %>" alt=""  onclick="cambiar(this);">
                    </div>
                    
                </div>
                  
                <div class="containerPr">
                    <img id="principal" src="/image/<%- product.image[0] %>" >
                    
                </div>
               
            </div>
            <section class="block2-desktop">
                <div class="price">
                    <i class="fas fa-dollar-sign"></i>
                    <h4><%- product.price %> .-</h4>
                </div>
                <div class="button-buy">
                    <button type="submit" class="btn_btn-submit">comprar</button>
                </div>
                <div class ="detail">
                    <h4>Detalles:</h4>
                        <p><%- categ.name %> </p>
                </div>    
                <div class="info">
                    <div>
                        <h4>Información adicional</h4>
                        <p>Forma: <%- formas.shape %> </p>
                        <p>Marca: <%- marcas.brand %> </p>
                        <p>Material: <%- materials.mater %> </p>
                    </div>            
                </div>           
                <div class="measures">
                    <div>
                         <h4>Medidas:</h4>
                        <div>
                            <p>alto del marco: <%- product.height %> mm.</p>
                            <p>ancho del marco: <%- product.width %> mm.</p>
                        </div>                                        
                    </div>                
                 </div>
            </section>
        </section>  
    
    <!-- fin bloque precio boton detalles desktop -->

    <!-- bloque 3 postal desktop -->

    <hr class="hr-desktop">
    <div class="block3-postal">         
        <div class="postalCode"> 
            <p>Calculá el costo de envío, ingresá tu código postal:</p>
            <input type="text">
            <p>O retirá gratis en nuestras sucursales</p>
            <ul class="branchOffice">
                <a href=""><li>San cristobal</li></a>
                <a href=""><li>Villa Urquisa</li></a>
                <a href=""><li>Palermo</li></a> 
            </ul>
        </div>
        <div class="pay"> 
            <div class="hs3">
                <h3>6 cuotas sin interes de $<%= (product.price/6).toFixed(2) %> </h2>
                <h3>Metodos de pago</h2>
            </div>
            <div class ="credit-card">      
                <div>
                    <i class="fab fa-cc-visa"></i>                
                </div>
                <div>
                     <i class="fab fa-cc-mastercard"></i>                 
                </div>
                <div>
                    <i class="fab fa-cc-amex"></i>                
                </div>
            </div>
         </div>
         <div class="social-media">
            <ul>                    
                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>                    
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>                    
                <li><a href=""><i class="fab fa-instagram"></i></a></li>                    
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>                    
            </ul>
        </div>        
    </div>
    <hr class="hr-desktop">

    <!-- fin bloque 3 postal desktop --> 

    
</section>
    <!-- cuerpo mobile -->  
<section class="mobile">   
    <div class="block1-body-mobile">
        <h4 class="titleMov">nombre del producto</h4>
        <div class="ani">
            <div class="container">
                <div id="slider"></div>
            </div>
        </div> 
        <div class="price"> 
            <i class="fas fa-dollar-sign"></i>
             <h4>0000.</h4>
        </div>
        <div class="pay">   
            <div class="hs5">
                <h5 class="cuotas">6 cuotas sin interes de $0000</h5>
                <h5>Metodos de pago</h5>
            </div>
            <div class ="credit-card">      
                <div>
                    <i class="fab fa-cc-visa"></i>                
                </div>
                <div>
                     <i class="fab fa-cc-mastercard"></i>                 
                </div>
                <div>
                    <i class="fab fa-cc-amex"></i>                
                </div>
            </div>
        </div>
        <div class="button-buy">  
            <button type="submit" class="btn btn-submit">comprar</button>
        </div>
        <div class="postal-code">       
            <p>Calculá el costo de envío, ingresá tu código postal:</p>
            <input  type="text" >
            <p>O retirá gratis en nuestras sucursales</p>
            <ul class="branch-office">
                <a href=""><li>San cristobal</li></a>
                <a href=""><li>Villa Urquisa</li></a>
                <a href=""><li>Palermo</li></a> 
            </ul>
        </div>
        <hr class="hr-mobile">    
        <div class="details">       
            <div class ="detail">
                <h4>Detalles:</h4>
                <div>
                    <p>material del marco:</p>                    
                    <p>metal:</p>
                </div>
            </div>    
            <div class="info">
                <h5>Información adicional</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, neque.</p>
            </div>           
                <div class="measures">
                    <div>
                        <h4>Medidas:</h4>
                        <div>
                            <p>alto del marco:</p>
                            <p>ancho del marco:</p>
                        </div>                                        
                    </div>                
                </div>
        </div>   
        <hr class="hr-mobile">  
        <div class="social-media">
            <div class="share">
                <p>compartir</p>
            </div>
            <ul>                    
                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>                    
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>                    
                <li><a href=""><i class="fab fa-instagram"></i></a></li>                    
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>                    
            </ul>
        </div>
        <hr class="hr-mobile">    
        <div class="separator">
            <div class="sold-separator">
                <hr>
                <p>los más vendidos</p>
                <hr>
            </div>
        </div>    
    </div>  

 <!-- vista productos -->
   <%-include("partials/vistaProductos.ejs") %> 
 <!-- fin vista productos -->

<!-- footer -->
<%- include("partials/footer")  %> 
<!-- fin footer  -->
<script>
 window.onload = function tamano() {
let container = document.getElementById("externalContainer");
container.style.width = "90vw";
}

    function cambiar(imagen) {
      let principal = document.getElementById("principal");
      principal.src = imagen.src;
    }
    </script>
</body>
</html>