<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body>

  <%- include('./partials/header.ejs') %> 

  <section class="wb">
    <h5 class="editSubtitles">Ingresá la información actualizada:</h5>
    <form class="tamanioFondo" action="/admin/edit/<%= product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
              <label class="tamanio" for="name">Nombre del producto: </label>
               <input class="tamanio" type="text" name="name" id="name" value="<%= product.name %>">
              <label class="tamanio" for="price">Precio: </label>
               <input class="tamanio" type="text" name="price" id="price" value="<%= product.price %>">
              <label class="tamanio" for="discount">Descuento: </label>
               <input class="tamanio" type="text" name="discount" id="discount" value="<%= product.discount %>">
              <label class="tamanio" for="category">Categoria: </label>
              <select id="specificSizeSelect" name="category"  class="tamanio">
                <option selected hidden>Categorias</option>
               <% categoria.forEach(category => { %>
                  <option value="<%- category.id %>" <%= product.category == category.id ? "selected" : null %>><%- category.name %></option>
               <% }) %>
              </select>
              <label class="tamanio" for="shape">Forma: </label>
               <input class="tamanio" type="text" name="shape" id="shape" value="<%= product.shape %>">
              <label class="tamanio" for="brand">Marca: </label>
               <input class="tamanio" type="text" name="brand" id="brand" value="<%= product.brand %>">
              <label class="tamanio" for="material">Material: </label>
               <input class="tamanio" type="text" name="material" id="material" value="<%= product.material %>">
              <label class="tamanio" for="height">Altura: </label>
               <input class="tamanio" type="text" name="height" id="height" value="<%= product.height %>">
              <label class="tamanio" for="width">Ancho: </label>
               <input class="tamanio" type="text" name="width" id="width" value="<%= product.width %>">
       
            <div>           
              <label class="label" for="archivos">Subí fotos del producto:</label><br>
              <input class="archivos" type="file" name="archivos"  multiple>
            </div>
            <div class="buttons">
              <button class="btn">Aceptar</button>
              <button class="btn" type="cancel">Cancelar</button>

            </div>
          </form> 
  </section>



        
            

      <%- include('./partials/footer.ejs') %> 
</body>
</html>