<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body>

  <%- include('./partials/header.ejs') %> 

  <section class="wb">
    <h5 class="editSubtitles">Ingresá la información actualizada:</h5>
    <form class="tamanioFondo" action="/admin/edit/<%= product.id%>?_method=PUT" method="POST" >
              <label class="tamanio" for="name">Nombre del producto: </label>
               <input class="tamanio" type="text" name="name" id="name" value="<%= product.name %>">
              <label class="tamanio" for="price">Precio: </label>
               <input class="tamanio" type="text" name="price" id="price" value="<%= product.price %>">
              <label class="tamanio" for="discount">Descuento: </label>
               <input class="tamanio" type="text" name="discount" id="discount" value="<%= product.discount %>">
              <label class="tamanio" for="category">Categoria: </label>
              <select id="specificSizeSelect" name="category"  class="tamanio">
               <% categoria.forEach(category => { %>
                  <option value="<%- category.name %>" <%= product.category == category.id ? "selected" : null %>><%- category.name %></option>
               <% }) %>
              </select>
              <label class="tamanio" for="subCatForma">Forma: </label>
               <input class="tamanio" type="text" name="subCatForma" id="shape" value="<%= product.subCatForma %>">
              <label class="tamanio" for="subCatMarca">Marca: </label>
               <input class="tamanio" type="text" name="subCatMarca" id="brand" value="<%= product.subCatMarca %>">
              <label class="tamanio" for="subCatmaterial">Material: </label>
               <input class="tamanio" type="text" name="subCatmaterial" id="material" value="<%= product.subCatmaterial %>">
              <label class="tamanio" for="heigth">Altura: </label>
               <input class="tamanio" type="text" name="heigth" id="heigth" value="<%= product.heigth %>">
              <label class="tamanio" for="width">Ancho: </label>
               <input class="tamanio" type="text" name="width" id="width" value="<%= product.width %>">
       
            <div>           
              <label class="label" for="archivos">Subí fotos del producto:</label><br>
              <input class="archivos" type="file" name="archivos"  multiple>
            </div>
            <div class="buttons">
              <button class="btn" type="submit">Aceptar</button>
              <button class="btn" type="reset">Cancelar</button>

            </div>
          </form> 
  </section>



        
            

      <%- include('./partials/footer.ejs') %> 
</body>
</html>