<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body>

  <%- include('./partials/headerAdmin.ejs') %> 

  <section class="wb">
    <h5 class="editSubtitles">Ingresá la información actualizada:</h5>
    <form class="tamanioFondo" action="/admin/edit/<%= product.id%>?_method=PUT" method="POST" >
              <label class="tamanio" for="name">Nombre del producto: </label>
               <input class="tamanio" type="text" name="name" id="name" value="<%= product.name %>">
              <label class="tamanio" for="price">Precio: </label>
               <input class="tamanio" type="text" name="price" id="price" value="<%= product.price %>">
              <label class="tamanio" for="discount">Descuento: </label>
               <input class="tamanio" type="text" name="discount" id="discount" value="<%= product.discount %>">
              <label class="tamanio" for="category">Categoria: </label>
              <select id="specificSizeSelect" name="category"  class="tamanio">
               <% categoria.forEach(category => { %>
                  <option value="<%- category.name %>" <%= product.category == category.id ? "selected" : null %>><%- category.name %></option>
               <% }) %>
              </select>
              <label class="tamanio" for="forma">Forma: </label>
              <select id="specificSizeSelect" name="forma"  class="tamanio">
              <% formas.forEach(forma => { %>
                <option value="<%- forma.shape %>" <%= product.subCatForma == forma.id ? "selected" : null %>><%- forma.shape %></option>
             <% }) %>
            </select>
              <label class="tamanio" for="marca">Marca: </label>
              <select id="specificSizeSelect" name="marca"  class="tamanio">
                <% marcas.forEach(marca => { %>
                   <option value="<%- marca.brand %>" <%= product.subCatMarca == marca.id ? "selected" : null %>><%- marca.brand %></option>
                <% }) %>
               </select>
              <label class="tamanio" for="material">Material: </label>
              <select id="specificSizeSelect" name="material"  class="tamanio">
                <% materials.forEach(material => { %>
                  <option value="<%- material.mater %>" <%= product.subCatmaterial == material.id ? "selected" : null %>><%- material.mater %></option>
               <% }) %>
              </select>
              <label class="tamanio" for="heigth">Altura: </label>
               <input class="tamanio" type="text" name="height" id="heigth" value="<%= product.height %>">
              <label class="tamanio" for="width">Ancho: </label>
               <input class="tamanio" type="text" name="width" id="width" value="<%= product.width %>">
       
            <div>           
              <label class="label" for="archivos">Subí fotos del producto:</label><br>
              <input class="archivos" type="file" name="archivos"  multiple>
            </div>
            <div class="buttons">
              <button class="btn" type="submit">Aceptar</button>
              <button class="btn" type="reset">Cancelar</button>

            </div>
          </form> 
  </section>



        
            

       
</body>
</html>