<!DOCTYPE html>
<html lang="es">
  <!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
  <body>

<!-- header -->
<%- include("partials/header")  %>
<!-- fin header  -->


<div class="container-user">
    <div class="img-user">
        <form action="">
        <div class="imagen-perfil-edit"> 
        <img class="avatar-user" src="/image/userAvatars/<%= user.avatar %> " alt=""></div>   
        <div class="carga-imagen">
        <input  class="img-edit" type="file"></div>
    </div>
    <div class="datos-user">
    <form  action="/users/editUser/<%= user.id %>?_method=PUT" method="POST"> 
            <h2 class="titulo-login">Mis datos</h2>
            <div class="data-edit">
                  <label class="item-data" for="">Nombre</label>
                    <input type="text" name="name" value="<%= user.name %>">
            </div>
            <div class="data-edit">
                  <label class="item-data" for="">Apellido</label>
                <input type="text" value="<%= user.lastName %>"name="last_name">
            </div>
            <div class="data-edit">
                   <label class="item-data" for="">Email</label>
                <input type="email" value="<%= user.email %>"name="mail">
            </div>
            <div class="data-edit">
                  <label class="item-data" for="">Contraseña</label>
                <input type="password" value="Contraseña">
            </div>
            <div class="data-edit">
                 <label class="item-data" for="">Teléfono</label>
                <input type="number" value="<%= user.phone %>"name="phone">
            </div>



             <div class="data-edit">
                   <label class="item-data" for="">Código Postal</label>
                <input class="input1" type="text" value="<%= user.pCode ? user.pCode : "------" %>"name="pCode">
            </div>
            <div class="data-edit">
                <label class="item-data" for="">Ciudad</label>
                <input class="input1" type="text" value="<%= user.city ? user.city : "------" %>"name="city">
            </div>
            <div class="data-edit">
                  <label class="item-data" for="">Provincia</label>
                <input class="input1" type="text" value="<%= user.province ? user.province : "------" %>"name="province">
            </div>

            <div class="profile-btn">
            <button class="btn-user" type="submit">Guardar datos</button>
        </form>
        </div>
    </form>
    </div>
</div>
<!-- footer -->
<%- include("partials/footer")  %> 
<!-- fin footer  -->
  </body>
</html>
