
    <!DOCTYPE html>
    <html lang="es">
    <!-- head -->
    <%- include("partials/head")  %> 
    <!-- fin head-->
<body>
    <h3 class="titlePrincipal">Listado de Productos</h3>
    <div class="containerList">
           
        <section class="tama">
            <ul class="title">
                <li class="lista">
                    <p class="id claro pe">id</p>
                    <p class="name normal pe">nombre del producto</p>
                    <p class="price claro pe">precio</p>
                    <p class="category normal pe">categoria</p>
                    <p class="shape claro pe">forma</p>
                    <p class="brand normal pe">marca</p>
                    <p class="material claro pe">material</p>
                    <p class="height normal pe">alto</p>
                    <p class="width claro pe">ancho</p>
                    <p class="discount normal pe">descuento</p>
                    <i class="far fa-edit fuera"></i>
                    <i class="far fa-trash-alt fuera"></i>
                </li>
            </ul>
            <ul class="list">
                <% productos.forEach(item => { %> 
                <li class="lista">
                    <p class="id pe"><%- item.id %></p>
                    <p class="name pe"><%- item.name %></p>
                    <p class="price pe"><%- item.price.toFixed(2) %></p>
                    <% let categoryFind = categoria.find(category => category.id === item.category) %>
                    <p class="category pe"><%- categoryFind.name %></p>
                    <% let formaFind = formas.find(forma => forma.id === item.subCatForma) %> 
                    <p class="shape pe"><%- formaFind.shape %></p>
                    <% let marcaFind =marcas.find(marca => marca.id === item.subCatForma) %>
                    <p class="brand pe"><%- marcaFind.brand %></p>
                    <% let materialFind =materials.find(material => material.id === item.subCatmaterial) %>
                    <p class="material pe"><%- materialFind.mater %></p>
                    <p class="height pe"><%- item.height %></p>
                    <p class="width pe"><%- item.width %></p>
                    <p class="discount pe"><%- item.discount %></p>
                    <form action="">
                        <a href="/admin/edit/<%= item.id %>"><i class="far fa-edit"></i></a>
                    </form>
                    <form action="/admin/eliminarProducto/<%- item.id %>?_method=DELETE" method="POST">
                        <a href=""><i class="far fa-trash-alt"></i></a> 
                    </form>
                       
                </li>
                <% }) %>
            </ul>
           
        </section>
    </div>
    
    
    
</body>
</html>