
    <!DOCTYPE html>
    <html lang="es">
    <!-- head -->
    <%- include("partials/head")  %> 
    <!-- fin head-->
<body>
    <h3 class="titlePrincipal">Listado de Productos</h3>
    <div class="containerList">
           
        <section class="tama">
            <ul class="title">
                <li class="lista">
                    <p class="id claro pe">id</p>
                    <p class="name normal pe">nombre del producto</p>
                    <p class="price claro pe">precio</p>
                    <p class="category normal pe">categoria</p>
                    <p class="shape claro pe">forma</p>
                    <p class="brand normal pe">marca</p>
                    <p class="material claro pe">material</p>
                    <p class="height normal pe">alto</p>
                    <p class="width claro pe">ancho</p>
                    <p class="discount normal pe">descuento</p>
                    <i class="far fa-edit fuera fSize"></i>
                    <button class="fuera boton caca" type="submit"><i class="far fa-trash-alt"></i></button>
                </li>
            </ul>
            <ul class="list">
                <% prod.forEach(item => { %> 
                <li class="lista">
                    <p class="id"><%- item.id %></p>
                    <p class="name"><%- item.name %></p>
                    <p class="price"><%- item.price %></p>
                   
                    <p class="category"><%- item.category %></p>
                    
                    <p class="shape"><%- item.subCatForma %></p>

                    <p class="brand"><%- item.subCatMarca %></p>
                    <p class="material"><%- item.subCatmaterial %></p>
                    <p class="height"><%- item.height %></p>
                    <p class="width"><%- item.width %></p>
                    <p class="discount"><%- item.discount %></p>



                    <a href="/admin/edit/<%- item.id%>"><i class="far fa-edit"></i></a>

                    <form action="/admin/eliminarProducto/<%= item.id %>?_method=DELETE" method="POST">
                        <button  class ="boton" type="submit"><i class="far fa-trash-alt"></i></button>
                       
                    </form>

                   
                </li>
                <% }) %>
            </ul>
           
        </section>
    </div>
    
    
    
</body>
</html>