<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body >
<!-- header -->

<%- include("partials/header")  %> 
<!-- fin header  -->

<!-- <div class="titleCat">
    <span>Productos</span>
</div> -->

<div class="base">
    <section class="ordenar">
        <div class="grilla" >
            <img  onclick = "dos()" src="/image/orden1.png" alt="">
            <img  onclick = "tres()" src="/image/orden2.png" alt="">
        </div>
        <input type="text" >
    </section>
    <section class="menu-lateral">
        <div class="men1">
            <a class="sub-titulo" >
                <p>forma</p>
            </a>
            <div class="sub-menu">
                <ul>
                    <% locals.shapes.forEach(element => { %>
                    <a href="/product/proForma/<%- element.id %>"><li><%- element.name %></li></a>
                    
                    <% }) %>
                </ul>          
            </div>
        </div>
        <div class="men2">
            <a class="sub-titulo">
                <p>marca</p>
            </a>
            <div class="sub-menu">
                <ul>
                    <% locals.brands.forEach(element => { %>
                        <a href="/product/proMarca/<%- element.id %>"><li><%- element.name %></li></a>
                        
                        <% }) %>
                </ul>
            </div>
        </div>
        <div class="men3">
            <a class="sub-titulo">
                <p>material</p>
            </a>
            <div class="sub-menu">
                <ul>
                    <% locals.materials.forEach(element => { %>
                        <a href="/product/proMaterial/<%- element.id %>"><li><%- element.name %></li></a>
                        
                        <% }) %>
                </ul>
            </div>
        </div>
    </section>
    <!-- fin menu lateral -->
   <!-- modal -->
    
   
<div class="aBaseD">
    <div class="aMenuModal">
        <div class="aPes" id="btnModal1" onclick="btnModal(this.id)">Forma</div>
        <div class="aPes" id="btnModal2" onclick="btnModal(this.id)">marca</div>
        <div class="aPes" id="btnModal3" onclick="btnModal(this.id)">material</div>
    </div> 
    <div class="aModal" id="tvesModal" >
        <div class="aModalContainer">
            <!-- <div class="aHeaderModal">
                <p>X</i></p>
                <p>Mi modal</p>
            </div> -->
            <div class="aListModal">
                <ul>
                    <% locals.shapes.forEach(element => { %>
                        <a  href="/product/proForma/<%- element.id %>"><li class="aList"><%- element.name.toUpperCase() %></li></a>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
    <div class="aModal" id="tvesModal2" >
        <div class="aModalContainer">
            <!-- <div class="aHeaderModal">
                <p>X</i></p>
                <p>Mi modal</p>
            </div> -->
            <div class="aListModal">
                <ul>
                    <% locals.brands.forEach(element => { %>
                        <a  href="/product/proMarca/<%- element.id %>"><li class="aList"><%- element.name.toUpperCase() %></li></a>
                        
                        <% }) %>
                </ul>
            </div>
        </div>
    </div>
    <div class="aModal" id="tvesModal3" >
        <div class="aModalContainer">
            <!-- <label for="btn-modal"><i class="fa fa-times cruz"></i></label>
            <h2>Gemma Glass</h2> -->
            <div class="aListModal">
                <ul class="aList">
                    <% locals.materials.forEach(element => { %>
                        <a href="/product/proMaterial/<%- element.id %>"><li><%- element.name %></li></a>
                        
                        <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>

    <!-- fin modal -->
   <!-- bloque de mas vendidos mobile -->
   
   <%-include("partials/vistaProductos.ejs") %> 
<!-- fin de bloque de mas vendidos mobile -->
    

<!-- footer -->

<!-- fin footer  -->
<script src="/js/ventana.js"></script>
<script>
    function dos(){
        let products = document.querySelectorAll(".product-card")
        let pes = document.querySelectorAll(".pes")
        let prices = document.querySelectorAll("#dollar i")
        products.forEach(product =>{
            product.style.width = "40vw";
            product.style.height = "37vw";
        })
        pes.forEach(pe =>{
            pe.style.fontSize = "17px";
        })
        prices.forEach(price =>{
            price.style.fontSize = "17px";
        })
    }
    function tres(){
        let products = document.querySelectorAll(".product-card")
        let pes = document.querySelectorAll(".pes")
        let prices = document.querySelectorAll("#dollar i")
        products.forEach(product =>{
            product.style.width = "25vw";
            product.style.height = "25vw"; 
                       
        })
        pes.forEach(pe =>{
            pe.style.fontSize = "14px";
        })
        prices.forEach(price =>{
            price.style.fontSize = "13px";
        })
    }
   
    



    
   
</script>
</body>
<%- include("partials/footer")  %> 
</html>