<!DOCTYPE html>
<html lang="es">
  <!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->

  <body>
  <!-- header -->
<%- include("partials/header")  %> 
<!-- fin header-->



<div class="container-user">
    <div class="img-user">
        <div class="imagen-perfil">
           <img class="avatar-user" id="old" src="/image/userAvatars/avatar.png " alt=""></div>   
    </div>
    <div class="datos-user">  
            <h2 class="titulo-login">Mis datos</h2>
            <div class="data">
                <h5 class="item-data">Nombre</h5>
                <p><%= user.name %></p>
            </div>
            <div class="data">
                <h5 class="item-data">Apellido</h5>
                <p><%= user.lastName %></p>
            </div>
            <div class="data">
                <h5 class="item-data">Email</h5>
                <p><%= user.email %></p>
            </div>

            <div class="data">
                <h5 class="item-data">Teléfono</h5>
                <p><%= user.phone ? user.phone : "------" %></p>
            </div>
            <div class="profile-btn">   <a href="" class="btn-user">Editar datos</a> </div>
        </div>
        <!-- <div class="profile-btn">   <a href="" class="btn-user">Editar datos</a> -->
    </div>
<!-- footer -->
<%- include("partials/footer")  %> 
<!-- fin footer  -->
  </body>
</html>
